In [2]:
#load the data
county_data = pd.read_excel("/Users/sahana_krishnaraj/Documents/Spring 2026/LMI/firelab-whp2023_datasummaries/WHP2023_County_Summary.xlsx")
data_1 = county_data.iloc[:,1:24]
header_1 = data_1.iloc[1].values
data_1.columns = header_1
data_1 = data_1.iloc[2:].reset_index(drop=True)
data_1

,NAMELSAD,STATE_NAME,STUSPS,STATEFP,COUNTYFP,GEOID,COUNTYNS,VH Acres,H Acres,M Acres,...,W Acres,Total Acres,VH Pct,H Pct,H + VH Pct,M Pct,L Pct,VL Pct,NB Pct,W Pct
0,Roberts County,Texas,TX,48,393,48393,01383982,9385,486252,35289,...,739,591526,2,82,84,6,3,2,5,0
1,El Dorado County,California,CA,06,017,06017,00277273,498285,429850,58726,...,51160,1143763,44,38,81,5,1,0,9,4
2,Hemphill County,Texas,TX,48,211,48211,01383891,2900,458690,44549,...,1153,583780,0,79,79,8,4,3,6,0
3,Richmond County,North Carolina,NC,37,153,37153,01008581,16213,209701,19437,...,3351,307103,5,68,74,6,6,0,13,1
4,Idaho County,Idaho,ID,16,049,16049,00395699,2500037,1471366,700096,...,20608,5441993,46,27,73,13,5,3,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,Yakutat City and Borough,Alaska,AK,02,282,02282,01419986,0,0,0,...,1012171,5856946,0,0,0,0,0,28,55,17
3139,Chugach Census Area,Alaska,AK,02,063,02063,02804400,0,0,0,...,3367231,9487812,0,0,0,0,0,34,31,35
3140,Skagway Municipality,Alaska,AK,02,230,02230,02339479,0,0,0,...,7674,284837,0,0,0,0,3,38,56,3
3141,Hoonah-Angoon Census Area,Alaska,AK,02,105,02105,02371430,0,0,0,...,1893614,6070033,0,0,0,0,1,45,23,31
3142,Kalawao County,Hawaii,HI,15,005,15005,01702380,0,54,360,...,22554,30137,0,0,0,1,5,18,1,75

In [3]:
data_2 = county_data.iloc[:,25:]
header_2 = data_2.iloc[0].values
data_2.columns = header_2
data_2 = data_2.iloc[2:].reset_index(drop=True)
data_2

,WHP Continuous Max,WHP Continuous Mean,WHP Class Min,WHP Class Max,WHP Class Mean,Conditional Flame Length Min,Conditional Flame Length Max,Conditional Flame Length Mean,Burn Probability Min,Burn Probability Max,Burn Probability Mean
0,22754,804.412797,0,5,3.631236,0,18.084881,4.85443,0,0.0431,0.027452
1,27281,3520.619911,0,5,4.028638,0,25,6.207329,0,0.0364,0.012518
2,14148,690.564785,0,5,3.514022,0,19.184492,4.600047,0,0.032583,0.024631
3,3001,1312.816049,0,5,3.33276,0,11.842105,2.329509,0,0.00555,0.001659
4,107890,6309.621412,0,5,3.915874,0,24.694906,6.137581,0,0.1358,0.031696
...,...,...,...,...,...,...,...,...,...,...,...
3138,229,0.393344,0,2,0.337285,0,25,0.52864,0,0.000175,0.000005
3139,285,1.961091,0,2,0.522256,0,25,0.627451,0,0.000275,0.000007
3140,171,25.77321,0,2,0.458144,0,25,0.941451,0,0.000325,0.000013
3141,229,7.665844,0,2,0.683299,0,25,0.718089,0,0.000275,0.000008
3142,4556,122.151823,0,4,1.258907,0,23,1.329274,0,0.00555,0.000543

In [4]:
final = pd.merge(data_1, data_2, left_index=True, right_index=True)
final.to_csv("cleaned_county_data.csv", index=False)

In [5]:
drought_data = pd.read_csv("/Users/sahana_krishnaraj/Documents/Spring 2026/LMI/drought/drought.csv")
drought_data.columns
drought_data.head()

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20231226,2013,Aleutians East Borough,AK,100.0,0.0,0.0,0.0,0.0,0.0,2023-12-26,2024-01-01,1
1,20231219,2013,Aleutians East Borough,AK,100.0,0.0,0.0,0.0,0.0,0.0,2023-12-19,2023-12-25,1
2,20231212,2013,Aleutians East Borough,AK,100.0,0.0,0.0,0.0,0.0,0.0,2023-12-12,2023-12-18,1
3,20231205,2013,Aleutians East Borough,AK,100.0,0.0,0.0,0.0,0.0,0.0,2023-12-05,2023-12-11,1
4,20231128,2013,Aleutians East Borough,AK,100.0,0.0,0.0,0.0,0.0,0.0,2023-11-28,2023-12-04,1

In [19]:
clean_drought = drought_data.groupby(['County','State'])[["None","D0","D1","D2","D3","D4"]].mean().reset_index()
clean_drought.to_csv("cleaned_drought_data.csv", index=False)
final.columns

Index(['NAMELSAD', 'STATE_NAME', 'STUSPS', 'STATEFP', 'COUNTYFP', 'GEOID',
       'COUNTYNS', 'VH Acres', 'H Acres', 'M Acres', 'L Acres', 'VL Acres',
       'NB Acres', 'W Acres', 'Total Acres', 'VH Pct', 'H Pct', 'H + VH Pct',
       'M Pct', 'L Pct', 'VL Pct', 'NB Pct', 'W Pct', 'WHP Continuous Max',
       'WHP Continuous Mean', 'WHP Class Min', 'WHP Class Max',
       'WHP Class Mean', 'Conditional Flame Length Min',
       'Conditional Flame Length Max', 'Conditional Flame Length Mean',
       'Burn Probability Min', 'Burn Probability Max',
       'Burn Probability Mean'],
      dtype='object')

In [21]:
clean_WFG = final.rename(columns={"NAMELSAD":"County", "STUSPS":"State"})
combined_data = pd.merge(clean_WFG, clean_drought, on=["County","State"], how="inner")
combined_data.head()
combined_data.to_csv("final_combined_data.csv", index=False)